@import "tailwindcss";

@theme {
   --color-primary: #fff;
   --color--secondary: #0A1224;
   --color-tertiary: #F5F5F5;

}

@layer base {
 body {
    @apply mx-auto my-0 max-w-[1440px] px-4 py-4;
 }
}